In [1]:
# import libaries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
from sklearn.linear_model import LinearRegression
import pickle

In [2]:
#Importing data

data_path = r"C:\Users\masud\Documents\Immo_Eliza_House_App\Project\Data\data2.csv"
data= pd.read_csv (data_path, header= 1)
#data.head(5)                                               # At the point of data importation, the data has 10187 rows

In [3]:
data = data[data['Area'].str.contains('m²')]                                     # this check if the data contain "m2"
data['Area'] = data['Area'].str.split('|', n=1, expand=False)                    # this split the data by "|" into list (0, 1)


data['Area']=data.Area.apply(lambda x: x[0] if len(x) ==1 else x[1])            # This checked if the data len is 1, then X= x[0] else x[1]
data['Area'] = data['Area'].str.extract(r'(\d+)') 

data['Number_of_Rooms'] = data['Number_of_Rooms'].str.extract(r'(\d+)')         # using regrex (regular expressions)
data['Garden surface'] = data['Garden surface'].str.extract(r'(\d+)')

#data['Price'] = data['Price'].str.replace('€', '')

data                                                                   # At the end of this step, the data has drop from 10187 to 9222 rows

,Title,Location,Price,Area,Number_of_Rooms,Furnished,Kitchen type,Status,Garden surface,Swimming Pool
0,Villa for sale,Prins Karellaan 13,"€ 1,650",499,4,No,Hyper equipped,As new,450,No
1,House for sale,Lembergsesteenweg 67 Box lot 2,"€ 419,000",188,3,No,Hyper equipped,As new,330,No
2,House for sale,Lembergsesteenweg 67 Box lot 1,"€ 459,000",164,3,No,Hyper equipped,As new,341,No
3,House for sale,Ruelle Hierby 17,"€ 149,000",134,2,No,Installed,Good,300,No
4,House for sale,Rue Petite Voie 176,"€ 149,000",198,5,No,Semi equipped,To be done up,147,No
...,...,...,...,...,...,...,...,...,...,...
10182,Villa for sale,Laar 196,"€ 599,900",165,4,No,Installed,To be done up,751,No
10183,Mansion for sale,1030 — Schaerbeek,"€ 729,000",411,8,No,Installed,Good,751,No
10184,Apartment for sale,1370 — Jodoigne,"€ 150,000",68,1,No,Hyper equipped,To be done up,751,No
10185,Penthouse for sale,Kustlaan 111 Box 6/7,"€ 2,795",226,3,No,Hyper equipped,As new,751,Yes
10186,House for sale,Chemin du Tombeu 6,"€ 980,000",420,5,No,Installed,As new,751,No

In [4]:
def clean_currency(x):
    """ If the value is a string, then remove currency symbol and delimiters
    otherwise, the value is numeric and can be converted
    """
    if isinstance(x, str):
        return(x.replace('€', '').replace(',', ''))
    return(x)

data['Price'] = data['Price'].apply(clean_currency).astype('float')
#data['Price_Type'] =data['Price'].apply(lambda x: type(x).__name__)

data

,Title,Location,Price,Area,Number_of_Rooms,Furnished,Kitchen type,Status,Garden surface,Swimming Pool
0,Villa for sale,Prins Karellaan 13,1650.0,499,4,No,Hyper equipped,As new,450,No
1,House for sale,Lembergsesteenweg 67 Box lot 2,419000.0,188,3,No,Hyper equipped,As new,330,No
2,House for sale,Lembergsesteenweg 67 Box lot 1,459000.0,164,3,No,Hyper equipped,As new,341,No
3,House for sale,Ruelle Hierby 17,149000.0,134,2,No,Installed,Good,300,No
4,House for sale,Rue Petite Voie 176,149000.0,198,5,No,Semi equipped,To be done up,147,No
...,...,...,...,...,...,...,...,...,...,...
10182,Villa for sale,Laar 196,599900.0,165,4,No,Installed,To be done up,751,No
10183,Mansion for sale,1030 — Schaerbeek,729000.0,411,8,No,Installed,Good,751,No
10184,Apartment for sale,1370 — Jodoigne,150000.0,68,1,No,Hyper equipped,To be done up,751,No
10185,Penthouse for sale,Kustlaan 111 Box 6/7,2795.0,226,3,No,Hyper equipped,As new,751,Yes
10186,House for sale,Chemin du Tombeu 6,980000.0,420,5,No,Installed,As new,751,No

In [5]:
data['Furnished_encoded'] =data['Furnished'].map({'No': 0, 'Yes': 1})         
data['Swimming Pool_encoded'] =data['Swimming Pool'].map({'No': 0, 'Yes': 1})

data

,Title,Location,Price,Area,Number_of_Rooms,Furnished,Kitchen type,Status,Garden surface,Swimming Pool,Furnished_encoded,Swimming Pool_encoded
0,Villa for sale,Prins Karellaan 13,1650.0,499,4,No,Hyper equipped,As new,450,No,0,0
1,House for sale,Lembergsesteenweg 67 Box lot 2,419000.0,188,3,No,Hyper equipped,As new,330,No,0,0
2,House for sale,Lembergsesteenweg 67 Box lot 1,459000.0,164,3,No,Hyper equipped,As new,341,No,0,0
3,House for sale,Ruelle Hierby 17,149000.0,134,2,No,Installed,Good,300,No,0,0
4,House for sale,Rue Petite Voie 176,149000.0,198,5,No,Semi equipped,To be done up,147,No,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10182,Villa for sale,Laar 196,599900.0,165,4,No,Installed,To be done up,751,No,0,0
10183,Mansion for sale,1030 — Schaerbeek,729000.0,411,8,No,Installed,Good,751,No,0,0
10184,Apartment for sale,1370 — Jodoigne,150000.0,68,1,No,Hyper equipped,To be done up,751,No,0,0
10185,Penthouse for sale,Kustlaan 111 Box 6/7,2795.0,226,3,No,Hyper equipped,As new,751,Yes,0,1
10186,House for sale,Chemin du Tombeu 6,980000.0,420,5,No,Installed,As new,751,No,0,0

In [6]:
#removing duplicate 

data.drop_duplicates()

,Title,Location,Price,Area,Number_of_Rooms,Furnished,Kitchen type,Status,Garden surface,Swimming Pool,Furnished_encoded,Swimming Pool_encoded
0,Villa for sale,Prins Karellaan 13,1650.0,499,4,No,Hyper equipped,As new,450,No,0,0
1,House for sale,Lembergsesteenweg 67 Box lot 2,419000.0,188,3,No,Hyper equipped,As new,330,No,0,0
2,House for sale,Lembergsesteenweg 67 Box lot 1,459000.0,164,3,No,Hyper equipped,As new,341,No,0,0
3,House for sale,Ruelle Hierby 17,149000.0,134,2,No,Installed,Good,300,No,0,0
4,House for sale,Rue Petite Voie 176,149000.0,198,5,No,Semi equipped,To be done up,147,No,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10176,Villa for sale,1860 — Meise,950000.0,318,5,No,Hyper equipped,Just renovated,2459,No,0,0
10178,House for sale,Pater Domstraat 16/W3,410000.0,161,4,No,Installed,As new,2459,No,0,0
10179,House for sale,Kastanjelaan 6,619000.0,304,6,No,Installed,As new,2459,No,0,0
10180,House for sale,Elsenstraat 12,215000.0,166,3,No,Installed,To be done up,2459,No,0,0
10186,House for sale,Chemin du Tombeu 6,980000.0,420,5,No,Installed,As new,751,No,0,0

In [7]:
# Method 2 - Using the drop() function
data.drop(data.index[data['Price'] < 40000.0], inplace=True)

In [8]:
data.drop(data.index[data['Number_of_Rooms'] < "10"], inplace=True)

In [9]:
data

,Title,Location,Price,Area,Number_of_Rooms,Furnished,Kitchen type,Status,Garden surface,Swimming Pool,Furnished_encoded,Swimming Pool_encoded
1,House for sale,Lembergsesteenweg 67 Box lot 2,419000.0,188,3,No,Hyper equipped,As new,330,No,0,0
2,House for sale,Lembergsesteenweg 67 Box lot 1,459000.0,164,3,No,Hyper equipped,As new,341,No,0,0
3,House for sale,Ruelle Hierby 17,149000.0,134,2,No,Installed,Good,300,No,0,0
4,House for sale,Rue Petite Voie 176,149000.0,198,5,No,Semi equipped,To be done up,147,No,0,0
5,House for sale,Rue Pierre Curie 107,149000.0,80,2,No,Not installed,Good,147,No,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10180,House for sale,Elsenstraat 12,215000.0,166,3,No,Installed,To be done up,2459,No,0,0
10181,Villa for sale,Oostmalsesteenweg 295,635000.0,326,4,No,Installed,To be done up,900,No,0,0
10182,Villa for sale,Laar 196,599900.0,165,4,No,Installed,To be done up,751,No,0,0
10183,Mansion for sale,1030 — Schaerbeek,729000.0,411,8,No,Installed,Good,751,No,0,0
10186,House for sale,Chemin du Tombeu 6,980000.0,420,5,No,Installed,As new,751,No,0,0

In [10]:
data.drop(['Furnished', 'Swimming Pool'], axis=1, inplace=True)

#Remane a column
dict = {'Swimming Pool_encoded': 'Swimming Pool',
        'Furnished_encoded': 'Furnished'}

# call rename () method
data.rename(columns=dict, inplace=True)     

data

,Title,Location,Price,Area,Number_of_Rooms,Kitchen type,Status,Garden surface,Furnished,Swimming Pool
1,House for sale,Lembergsesteenweg 67 Box lot 2,419000.0,188,3,Hyper equipped,As new,330,0,0
2,House for sale,Lembergsesteenweg 67 Box lot 1,459000.0,164,3,Hyper equipped,As new,341,0,0
3,House for sale,Ruelle Hierby 17,149000.0,134,2,Installed,Good,300,0,0
4,House for sale,Rue Petite Voie 176,149000.0,198,5,Semi equipped,To be done up,147,0,0
5,House for sale,Rue Pierre Curie 107,149000.0,80,2,Not installed,Good,147,0,0
...,...,...,...,...,...,...,...,...,...,...
10180,House for sale,Elsenstraat 12,215000.0,166,3,Installed,To be done up,2459,0,0
10181,Villa for sale,Oostmalsesteenweg 295,635000.0,326,4,Installed,To be done up,900,0,0
10182,Villa for sale,Laar 196,599900.0,165,4,Installed,To be done up,751,0,0
10183,Mansion for sale,1030 — Schaerbeek,729000.0,411,8,Installed,Good,751,0,0
10186,House for sale,Chemin du Tombeu 6,980000.0,420,5,Installed,As new,751,0,0

In [11]:
# removing extra column that is not needed for the model 

data.drop(['Title', 'Location',"Status", "Kitchen type", "Furnished","Swimming Pool"], axis=1, inplace=True)

# Building model

In [12]:
data

          Price Area Number_of_Rooms Garden surface
1      419000.0  188               3            330
2      459000.0  164               3            341
3      149000.0  134               2            300
4      149000.0  198               5            147
5      149000.0   80               2            147
...         ...  ...             ...            ...
10180  215000.0  166               3           2459
10181  635000.0  326               4            900
10182  599900.0  165               4            751
10183  729000.0  411               8            751
10186  980000.0  420               5            751

[8099 rows x 4 columns]

In [13]:
#Setting the value for X and Y

x = data[['Area', 'Number_of_Rooms','Garden surface']]  # 'Garden surface'
y = data['Price']

In [14]:
#Standardize data

from sklearn.preprocessing import StandardScaler

#scaler = StandardScaler().fit(x)
#x = scaler.transform(x)

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 100)

In [16]:
#Fitting the Multiple Linear Regression model

model = LinearRegression()  
model.fit(X_train, y_train)

LinearRegression()

In [17]:
#Intercept and Coefficient
print("Intercept: ", model.intercept_)
print("Coefficients:")
list(zip(x, model.coef_))

Intercept:  215550.64263727705
Coefficients:

[('Area', 753.0840131182155),
 ('Number_of_Rooms', 18.789280680702955),
 ('Garden surface', 0.021393195912803975)]

In [18]:
# Price = 215550.6426 + (753.0840 * Area) + (18.7893* Number_of_Rooms) + (0.02140 * Newspaper) + e   #Regression Equation

In [19]:
# Prediction of test set
y_pred_model= model.predict(X_test)

# Predicted values
print("Prediction for test set: {}".format(y_pred_model))

Prediction for test set: [331596.92373666 369255.94391632 292403.58208495 ... 354930.76188558
 353423.95206346 321042.66587753]

In [20]:
model_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_pred_model})
model_diff.head()

      Actual value  Predicted value
6283      179000.0    331596.923737
6439      239000.0    369255.943916
2104      215000.0    292403.582085
5350      339000.0    347396.734168
7995      239000.0    324787.114556

# Model Evaluation

In [21]:
from sklearn import metrics

meanAbErr = metrics.mean_absolute_error(y_test, y_pred_model)
meanSqErr = metrics.mean_squared_error(y_test, y_pred_model)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_pred_model))
print('R squared: {:.2f}'.format(model.score(x,y)*100))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared: 24.08
Mean Absolute Error: 123528.92149265448
Mean Square Error: 27613575125.009045
Root Mean Square Error: 166173.32856090067

In [22]:
pickle.dump(model,open('model.pkl','wb'))